/ProjetoFinalJava/nbproject/private/
/ProjetoFinalJava/build/
/ProjetoBancoEmJava/nbproject/private/
/DigitalInnovationOne/JavaApplication58/nbproject/private/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/NomeEIdade/build/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/NomeEIdade/dist/
/DigitalInnovationOne/Nota(w)/nbproject/private/
/DigitalInnovationOne/Nota(w)/build/
/DigitalInnovationOne/Nota(w)/dist/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/MaiorEMedia/nbproject/private/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/MaiorEMedia/build/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/ParEImpar/nbproject/private/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/ParEImpar/build/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/Tabuada/nbproject/private/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/Tabuada/build/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/Fatorial/nbproject/private/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/Fatorial/build/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/OrdemInversa/nbproject/private/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/OrdemInversa/build/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/Consoantes/nbproject/private/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/NumerosAleatorios/nbproject/private/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/Consoantes/build/
/DigitalInnovationOne/Exercicios-Estruturas-Repeticao/Consoantes/dist/
/Estruturas de Dados/ListasEncadeadas/nbproject/private/
/Estruturas de Dados/ListasEncadeadas/build/
/Estruturas de Dados/ListasDuplamenteEncadeadas/nbproject/private/
/Estruturas de Dados/ListasDuplamenteEncadeadas/build/